:root{
    --button-text: 16px;
    --text: 16px;
    --h2: 64px;
    --nav: 18px;

    --section-width: 375px;
    --section-height: 10em;

    /* Primary colours */
  --ns-yellow: #ffc917;
  --ns-blue: #003082;
  --ns-lightBlue: #0063d3;
  --ns-white: #ffffff;

  /* Shades of grey */
  --ns-gray-text: #070721;
  --ns-gray-10: #202037;
  --ns-gray-20: #39394d;
  --ns-gray-30: #515164;
  --ns-gray-40: #6a6a7a;
  --ns-gray-50: #838390;
  --ns-gray-60: #9c9ca6;
  --ns-gray-70: #b5b5bc;
  --ns-gray-80: #cdcdd3;
  --ns-gray-90: #e6e6e9;
  --ns-gray-94: #f0f0f2;

  /* Special Colours */
  --ns-error: #db0029;
  --ns-succes: #009a42;
  --ns-ov: #ff0098;
  --ns-bus: #ff7700;

  /* Link and hover colours */
  --ns-link-blue: #0079d3;
  --ns-hover-blue: #005ca0;
  --ns-hover-yellow: #ffb519;

  /* Transparency colours */
  --ns-gray-alpha-60: #070721 (60%);
  --ns-gray-alpha-15: #070721 (15%);
  --ns-gray-alpha-10: #070721 (10%);

}

body{
    font-family: 'CartoGothicStd', sans-serif;
}

h1, h2{
    font-size: var(--h2);
    color: var(--ns-blue);
}

nav{
    font-size: var(--nav);
    /* width: 100dvw;
    height: 100px; */
    background-color: var(--ns-white);
    color: var(--ns-blue);
}

nav ul {
    list-style: none;
}

button, a, p{
    font-size: var(--text);
    color: var(--ns-blue);
}


body, h1, h2, h3, h4, h5, p, a, button{
    margin: 0;
    padding: 0;
}

body > section{
    width: var(--section-width);
    aspect-ratio: 9/16;
    /* height: var(--section-height); */

    background-color: lightblue;
    position: relative;

    display: flex;
    flex-direction: column;
}

#logo{
    width: 9em;

    order: -1;
    align-self: center;
}



.text-3-field{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: .7em;
    /* grid-template-rows: 1fr; */
}
.text-3-field input {
    width: 80%;
}

#DeadPerson {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 2em;
}
#DeadPerson section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* #region Font faces */
@font-face {
    font-family: CartoGothicStd;
    src: url('fonts/CartoGothicStd-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: CartoGothicStd;
    src: url('fonts/CartoGothicStd-BoldItalic.otf') format('opentype');
    font-weight:bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: CartoGothicStd;
    src: url('fonts/CartoGothicStd-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: CartoGothicStd;
    src: url('fonts/CartoGothicStd-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* #endregion */

/* #region media Queries */
/* @media screen and (max-width: 768px){
    :root{
        --section-width: ;
        --section-height: ;
    }
} */

/* @media screen and (min-width: 768px) and (max-width: 1023px) {
    :root{
        --section-width: ;
        --section-height: ;
    }
} */

/* @media screen and (min-width: 1024px) {
    :root{
        --section-width: 2em;
        --section-height: 1em;
    }
} */

/* #endregion */


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.date-segment {
    width: 2em;
    border: none;
    text-align: center;
    outline: none;
}

.date-separator {
    margin: 0 2px;
    color: #666;
    font-weight: bold;
}

input {
    border-style: dotted;
}

label > label:has(input){
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
